server {
    listen {{ heimdall_port }};
    listen [::]:{{ heimdall_port }};

    server_name {{ heimdall_domain }};
    root {{ heimdall_root }}/public;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        # Utilisation de la variable pour le socket PHP
        fastcgi_pass unix:/run/php/php{{ heimdall_php_version }}-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }
}
